
.App {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px;
}

.modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.1);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .document-handler {
   height: 320px;
   width: 500px;
   padding: 10px;
   margin: 10px;
   border: none;
   border-radius: 10px;
   box-shadow: 0 1px 1px 1px rgba(16,126,244,1);
   background: linear-gradient(#107ef4, #00d0ff);
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 #remove {
   height: auto;
   width: 450px;
 }

 .memo-box {
   height: 80%;
   width: 90%;
   margin: 10px;
   font-size: 22px;
   outline: none;
   border-radius: 10px;
 }

 .document-handler-button > {
   margin: 20px;
   padding: 20px;
 }

 .document-handler-message {
   font-size: 16px;
   text-align: center;
   /* color: #107ef4; */
   margin: 10px;
 }

 .document-handler-button {
   background: radial-gradient(#1b273400, #0066ff);
   width: 25%;
   height: 13%;
   padding: 5px;
   border-radius: 10px;
   font-size: 23px;
   text-align: center;
 }

 .document-handler-button:hover {
  cursor: pointer;
  background: linear-gradient(#d4dee9, #ffffff);
 }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .menu {
   margin: 25px 40px 0px 40px;
   position: relative;
   display: inline-block;
 }

 /* .menu-display-wrapper {
   width: 35px;
   height: 5px;
   background-color: #107ef4;
   margin: 6px 0;
 } */

 .menu-display {
   width: 35px;
   height: 5px;;
   background-color: white;
   margin: 6px 0;
 }

 /* .menu-display-wrapper:hover {
   background-color: #9bb3c6;
 } */

 .menu:hover .menu-dropdown {
   display: block;
 }

 .menu-dropdown {
   display: none;
   position: absolute;
   right: -48px;
   background-color: white;
   padding: 5px 15px 5px 15px;
 }

 .menu-option:hover {
   color: #107ef4;
   cursor: pointer;
 }

.header-img {
  height: 30px;
  width: auto;
  margin: 25px 0px 0px 40px;
}

.blankerrmsg {
  margin-bottom: 24px;
}

.errmsg {
  margin-bottom: 10px;
  font-size: 12px;
}

.login {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba(16,126,244,1);
  background: radial-gradient(#107ef4, #00d0ff);
  padding: 25px;
}

.login > div {
  margin: 20px;
}

.session-form {
  display: block;
}

.form-field > input {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 30px;
  margin: auto;
  /* margin-bottom: 20px; */
  font-size: 20px;
  outline: none;
}

.session-form > button {
  color: white;
  border: 1px solid #107ef4;
  background-color: #107ef4;
  padding: 7px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: lighter;
  margin: 5px;
  outline: none;
}

.session-form > button:hover {
  cursor: pointer;
  background-color: #9bb3c6;
  color: black;
}

.content {
  text-align: center;
}

.reddit-icon {
  position: relative;
  height: 30px;
  width: auto;
  margin: 5px;
  top: 13px;
  left: -2px;
}

.search > input {
  width: 200px;
  height: 30px;
  margin: 10px 0px;
  border: none;
  font-size: 16px;
  outline: none;
}

.search > button {
  color: white;
  border: 1px solid #107ef4;
  background-color: #107ef4;
  padding: 7px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: lighter;
  margin: 5px;
  outline: none;
}

.search > button:hover {
  cursor: pointer;
  background-color: #9bb3c6;
  color: black;
}

.feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feed > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
  display: flex;
  flex-direction: row;
  width: 650px;
  height: 180px;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba(16,126,244,1);
  overflow: hidden;
  background: radial-gradient(#107ef4, #00d0ff);
}

.post > img {
  width: 140px;
  height: 140px;
  margin: 10px
}

.post > div {
  width: 490px;
  margin: 10px;
  text-align: left;
}

.post > div > h2 {
  font-size: 16px;
}

.post > div > h2:hover {
  cursor: pointer;
  color: white;
}

.post > div > p {
  font-size: 12px;
}

.save-button {
  color: white;
  border: 1px solid #107ef4;
  background-color: #107ef4;
  padding: 4px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: lighter;
  margin: 3px;
  outline: none;
  width: 60px;
  text-align: center;
}

.save-button:hover {
  cursor: pointer;
  background-color: #9bb3c6;
  color: black;
}

.author-name {
  /* border-bottom: 1px solid #DCE0E6; */
  font-size: 12px;
}

.arrow-placeholder {
  margin: 18px;
}

i {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 15px;
  margin-top: 280px
}

i:hover {
  cursor: pointer;
  border: solid #107ef4;
  border-width: 0 6px 6px 0;
}

.next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.previous {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.memo-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px 1px rgba(16,126,244,1);
  overflow: hidden;
  background: linear-gradient(#107ef4, #00d0ff);
}

.memo-display {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

#edit-button {
  margin-left: 5px;
  position: relative;
  top: -5px;
  font-size: 12px;
}

.memo-wrapper > {
  display: flex;
  flex-direction: row;
  width: 190px;
}

.memo-wrapper > span {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border-bottom: 1px solid #DCE0E6;
  text-transform:uppercase;
}

.full-post {
  display:block;
  width: 850px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
}

.post-author{
  font-size: 13px;
  margin: 8px;
}

.post-header-container {
  display: flex;
  flex-direction: row;
}

#full {
 position: relative;
 top: 0px;
 font-size: 12px;
 height: 24px;
}

.post-title {
  font-size: 20px;
  margin-right: 10px;
}

.post-text {
  margin-top: 20px;
}

.comment-author {
  color: blue;
  font-size: 12px;
}

.comment-replies {
  margin-left: 25px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-img {
  height: 30px;
  width: auto;
  margin: 0px 20px 5px 0px;
}
