
.App {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .menu {
   margin: 25px 40px 0px 40px;
   position: relative;
   display: inline-block;
 }

 .menu-display {
   width: 35px;
   height: 5px;
   background-color: black;
   margin: 6px 0;
 }

 .menu:hover .menu-dropdown {
   display: block;
 }

 .menu-dropdown {
   display: none;
   position: absolute;
   right: -5px;
   background-color: white;
   padding: 5px 15px 5px 15px;
 }

 .menu-option:hover {
   color: #ff6000;
   cursor: pointer;
 }

.header-img {
  height: 30px;
  width: auto;
  margin: 25px 0px 0px 40px;
}

.content {
  text-align: center;
}

.reddit-icon {
  position: relative;
  height: 30px;
  width: auto;
  margin: 5px;
  top: 13px;
  left: -2px;
}

.search > input {
  width: 200px;
  height: 30px;
  margin: 10px 0px;
  border: none;
  font-size: 16px;
  outline: none;
}

.search > button {
  color: white;
  border: 1px solid #ff6000;
  background-color: #ff6000;
  padding: 7px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: lighter;
  margin: 5px;
  outline: none;
}

.search > button:hover {
  cursor: pointer;
  background-color: #9bb3c6;
  color: black;
}

.feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feed > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
  display: flex;
  flex-direction: row;
  width: 650px;
  height: 180px;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba(255,96,0,1);
  overflow: hidden;
}

.post > img {
  width: 140px;
  height: 140px;
  margin: 10px
}

.post > div {
  width: 490px;
  margin: 10px;
  text-align: left;
}

.post > div > h2 {
  font-size: 16px;
}

.post > div > p {
  font-size: 12px;
}

.author-name {
  border-bottom: 1px solid #DCE0E6;
}

.arrow-placeholder {
  margin: 18px;
}

i {
  border: solid #ff6000;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 15px;
  margin-top: 280px
}

i:hover {
  cursor: pointer;
  border: solid #9bb3c6;
  border-width: 0 6px 6px 0;
}

.next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.previous {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.full-post {
  display:block;
  width: 1000px;
  margin-left: auto;
  margin-right:auto;
}

.comment-author {
  color: blue;
  font-size: 12px;
}

.comment-replies {
  margin-left: 25px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-img {
  height: 30px;
  width: auto;
  margin: 0px 20px 5px 0px;
}
