* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #cdc8c833;
  height: 100%;
  position: relative;
}
