* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: #cdc8c833; */
  background: radial-gradient(#107ef4, #00d0ff);
  height: 100%;
  position: relative;
  color: black;
}
